:root {
  --color-canvas-default: rgb(29, 30, 32);
  --color-canvas-subtle: rgb(46, 46, 51);
  --color-neutral-muted: rgb(51, 51, 51);

  --color-border-default: rgb(51, 51, 51);

  --color-fg-default: rgb(196, 196, 197);
  --color-fg-muted: rgb(155, 156, 157);
  --color-fg-subtle: rgb(155, 156, 157);

  --color-accent-fg: rgb(218, 218, 219);
  --color-accent-emphasis: rgb(218, 218, 219);
  --color-btn-primary-bg: rgb(218, 218, 219);
  --color-btn-primary-text: rgb(29, 30, 32);
  --color-btn-primary-border: rgb(218, 218, 219);

  --color-card-bg: rgb(46, 46, 51);
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, sans-serif;
}
